<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key2</key>
	<dict>
		<key>New item - 2</key>
		<string></string>
		<key>New item</key>
		<string></string>
	</dict>
	<key>serial</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
	</array>
	<key>description</key>
	<array>
		<string>American comic book superhero in DC Comics publications</string>
		<string>American superhero film based on the Marvel Comics superhero team of the same name, produced by Marvel Studios</string>
		<string>Ain Hoon Na (transl. I am here) is a 2004 Indian Hindi-language masala film </string>
		<string>ç</string>
		<string>2010 Chanies Movie ,Chanies native  Fighting Movie </string>
		<string>2013 Chanies Movie ,Chanies native  Fighting Movie </string>
		<string>2014 HollyWood Movie ,  Fighting Movie </string>
		<string>Natural Climate Movie, produced by KM Khushta</string>
		<string>BollyWood famous Hero Salman Khan act to this Movie</string>
		<string>2016 HollyWood Movie ,  Fighting Movie </string>
		<string>Titanic is a 1997 American epic romance and disaster film directed, written, co-produced, and co-edited by James Cameron</string>
	</array>
	<key>name</key>
	<array>
		<string>Super Man</string>
		<string>Avengers</string>
		<string>Main Hoon na</string>
		<string>Dhon - 2</string>
		<string>Master</string>
		<string>Ip Man</string>
		<string>Strong</string>
		<string>Damage Area</string>
		<string>Terenam</string>
		<string>Vat Man</string>
		<string>Titanic</string>
	</array>
</dict>
</plist>
